@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
}

.font-archivo{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg-color-grey{
    background-color: #e9ecef;
}
.bg-color-purple{
    background-color: #6f42c1;
}
.bg-color-yellow{
    background-color: #ffc107;
}
.color-grey{
    color: #e9ecef;
}
.color-purple{
    color: #6f42c1;
}
.color-yellow{
    color: #ffc107;
}
.shadow-grey{
    text-shadow: 2px 2px #e9ecef4b;
}
.shadow-yellow{
    text-shadow: 2px 2px #ffc1074d;
}
.shadow-purple{
    text-shadow: 2px 2px #6e42c14a;
}

.btn-listify-grey{
    padding: 10px 15px ;
    font-size: 18px;
    background-color: #e9ecef;
    border: 2px solid #e9ecef;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    &:hover{
        border: 2px solid #ffc107;
        color: #ffc107;
        background-color: #6f42c1;
        
    }
}



// app.blade

.logo-grigio-2{
    width: 100%;
}

.width-link-logo{
    width: 15%;
}

.nav-link {
    font-size: 20px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px !important;
    padding-right: 20px !important;
    transition: transform 0.3s ease-in-out, text-shadow 0.3s;
    
}

.link-app{
    &:hover {
        transform: scale(1.2); 
        color: #6f42c1;
        text-shadow: 2px 2px #6e42c14a;
        transition: transform 0.3s ease-in-out, text-shadow 0.3s;
    }
}

.shadow-header{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}


// style.blade

.link-style{
    transform-origin:  left;
    &:hover {
        transform: scale(1.2); 
        color: #ffc107;
        text-shadow: 2px 2px #ffc1074d;
        transition: transform 0.3s ease-in-out, text-shadow 0.3s;
        transform-origin:  left;
    }
}


// welcome.blade
.content{
    height: 100vh;
}

.welcome-title{
    font-size: 60px;
    text-shadow: 3px 3px #ffc10756;
    color: #ffc107;
}
.welcome-subtitle{
    font-size: 35px;
    text-shadow: 3px 3px #e9ecef4b;

    
}

.font-login{
    font-size: 40px;
    color: #ffc107;
    text-shadow: 3px 3px #ffc10756;
    
    
}
.font-register{
    color: #ffc107;
    transition: text-shadow 0.5s, transform 0.5s ease-in-out;
    &:hover{
        text-shadow: 2px 2px #ffc1074d;
        transform: scale(1.2);
        transition: text-shadow 0.5s, transform 0.5s ease-in-out;
        
    }
}

.height-collapse{
    min-height: 30%;

}


//  ICONE FONT AWESOME

.fa-list{
    font-size: 80px;
    transform: rotate(-5deg);
    top: 40px;
    color: #ffc107bd;
}
.fa-list-ol{
    font-size: 100px;
    transform: rotate(-15deg);
    top: 250px;
    left: -650px;
    color: #e9ecefc7;
}

.fa-list-ul{
    font-size: 90px;
    transform: rotate(5deg);
    top: 350px;
    color: #e9ecefc7;
}
.fa-list-check{
    font-size: 110px;
    transform: rotate(15deg);
    top: 380px;
    left: -300px;
    color: #ffc107bd;
}
.fa-check{
    font-size: 80px;
    transform: rotate(-25deg);
    top: 400px;
    left: -500px;
    color: #ffc107bd;
}
.fa-circle-check{
    font-size: 75px;
    transform: rotate(25deg);
    top: 180px;
    left: 0px;
    color: #ffc107bd;
}
.fa-x{
    font-size: 95px;
    transform: rotate(30deg);
    top: 300px;
    left: 300px;
    color: #ffc107bd;

}   
.fa-circle-xmark{
    font-size: 83px;
    transform: rotate(-30deg);
    top: 140px;
    left: 540px;
    color: #e9ecefc7;
}
.pencil-2{
    font-size: 85px;
    transform: rotate(-65deg);
    top: 40px;
    left: 400px;
    color: #ffc107bd;
}
.fa-pen-to-square{
    font-size: 105px;
    transform: rotate(-5deg);
    top: 380px;
    left: 450px;
    color: #ffc107bd;
}
.fa-file-pen{
    font-size: 100px;
    transform: rotate(-15deg);
    top: 140px;
    left: 200px;
    color: #e9ecefc7;
}
.pencil-1{
    font-size: 95px;
    transform: rotate(10deg);
    top: 250px;
    left: -170px;
    color: #e9ecefc7;
}

.underline {
    position: relative; /* Per posizionare il sottolineato relativo al link */
    text-decoration: none; /* Rimuove il sottolineato predefinito */
    
  }

  /* Stile per la linea sottolineata */
  .underline::after {
    content: ""; /* Aggiunge un elemento pseudo-contenuto per la linea */
    position: absolute; /* Posizionamento assoluto rispetto al link */
    left: 0; /* Inizialmente posizionato a sinistra del link */
    bottom: 0; /* Posizionato alla base del link */
    width: 0; /* Inizialmente la larghezza della linea è zero */
    height: 2px; /* Altezza della linea */
    background-color: #e9ecef; /* Colore della linea */
    transition: width 0.3s ease, text-shadow 0.5s;
     /* Transizione per far espandere la linea */
  }
//   &:hover{
//     text-shadow: 2px 2px #e9ecef4b;
//     transform: scale(1.2);
//     transition: text-shadow 0.5s, transform 0.5s ease-in-out;
// }

  /* Effetto hover: espande la linea */
  .underline:hover::after {
    width: 100%; /* Espandi la linea fino alla larghezza del link */
    box-shadow: 1px 2px #e9ecef4b;
  }


// index.blade
.btn-create{
    padding: 10px 18px;
    border-radius: 18px;
    background-color: #6f42c1;
    border: 0;
    color: #e9ecef;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.20);
    font-size: 25px;
    
    
    
    &:hover{
        background-color: #ffc107;
        color: #6f42c1;
        text-shadow: 2px 2px #6e42c14a;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
        
    }

}

.h1-title{
    font-size: 60px;
    text-shadow: 3px 3px #6e42c14a;
}
.input-todolist:focus, .select-todolist:focus, .textarea-todolist:focus{
    border: 2px solid #f9d157 !important; /* Cambia il colore del bordo qui */
    /* Cambia anche il colore del box-shadow */
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.15) !important;
    
}
.label-todolist{
    font-size: 18px;
}
.input-todolist, .select-todolist, .textarea-todolist{
    border: 2px solid transparent !important; 
}
.btn-salva{
    font-size: 20px;
    padding: 5px 10px ;
    background-color: #6f42c1 ;
    border: 0;
    color: #e9ecef;
    border-radius: 10px;
    
    &:hover{
        background-color: #ffc107;
        border: 0;
        color: #6f42c1;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.20);
       
    }
}
.btn-aggiungi{
    font-size: 15px;
    padding: 5px 10px ;
    background-color: #6f42c1;
    border: 0;
    color: #e9ecef;
    border-radius: 10px;
    
    &:hover{
        background-color: #ffc107;
        border: 0;
        color: #6f42c1;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.20);
       
    }
}
.fa-plus-2{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.btn-check:checked + .btn{
    background-color:#b59be5   ;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.btn-check + .btn{
    border: 2px solid transparent !important;
    border-radius: 10px;
}
.btn-label{
    padding: 3px 4px;
}
.badge{
    font-size: 16px;
}

.btn-etichetta{
    font-size: 12px;
    padding: 2px 5px ;
    background-color: #6f42c1;
    border: 0;
    color: #e9ecef;
    border-radius: 8px;
    
    &:hover{
        background-color: #ffc107;
        border: 0;
        color: #6f42c1;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.20);
       
    }
}
.fa-plus-3{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}


// h1{
//     font-family: "Archivo Black", sans-serif;
//     font-weight: 400;
//     font-style: normal;
// }