@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
}

.font-archivo{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg-color-grey{
    background-color: #e9ecef;
}
.bg-color-purple{
    background-color: #6f42c1;
}
.color-grey{
    color: #e9ecef;
}
.color-purple{
    color: #6f42c1;
}

.btn-listify-grey{
    padding: 10px 15px ;
    font-size: 18px;
    background-color: #e9ecef;
    border: 2px solid #e9ecef;
    border-radius: 15px;
    &:hover{
        border: 2px solid #e9ecef;
        color: #e9ecef;
        background-color: #6f42c1;
    }
}


// app.blade

.logo-grigio-2{
    width: 100%;
}

.width-link-logo{
    width: 15%;
}

.nav-link {
    font-size: 18px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px !important;
    transition: transform 0.5s ease-in-out, text-shadow 0.5s;
    
    
    &:hover {
        transform: scale(1.2); 
        color: #6f42c1;
        text-shadow: 2px 2px #6e42c14a;
        transition: transform 0.5s ease-in-out, text-shadow 0.5s;
    }
}

.shadow-header{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

// welcome.blade
.content{
    height: 100vh;
}

.welcome-title{
    font-size: 60px;
    text-shadow: 3px 3px #e9ecef4b;
}
.welcome-subtitle{
    font-size: 35px;
    
}

.font-login{
    font-size: 40px;
    
    transition: text-shadow 0.5s;
    &:hover {
        text-shadow: 3px 3px #e9ecef4b;
        transition: text-shadow 0.5s;
    }
    
}
.font-register{
    color: #e9ecef;
    transition: text-shadow 0.5s, transform 0.5s ease-in-out;
    &:hover{
        text-shadow: 2px 2px #e9ecef4b;
        transform: scale(1.2);
        transition: text-shadow 0.5s, transform 0.5s ease-in-out;
    }
}

.height-collapse{
    min-height: 35%;

}











// h1{
//     font-family: "Archivo Black", sans-serif;
//     font-weight: 400;
//     font-style: normal;
// }